.App {
  padding: 10px;
  max-width: 800px;
  position: relative;
  text-align: left;
}

.suggestions {
  position: absolute;
  width: 100%;
  top: 100%;
  overflow: hidden;
  transition: height 0.25s ease;
  z-index: 1;
  background-color: #fff;
}

.github-card {
  width: 18rem;
}
.github-card .text-muted {
  margin-bottom: 0.25rem;
}
.spinner-container {
  display: flex;
  justify-content: center;
}
.spinner-container>div {
  text-align: center;
}